<h1>Entschuldigung, eine Anmeldung ist gerade nicht moeglich.</h1>
<p>Benutzername und Passwort sind offensichtlich korrekt, aber das Programm, dass nun die IP-Adresse fuer den Zugriff freischalten sollte ist dummerweise verloren gegangen als sich diese bloede SD-Karte zerstoert hat.</p>
<p>Deswegen sagt Teldemokles zu recht: "Macht Backups Leute; und zwar ordentlich!". Recht hat er auch wenn er sagt "Hoert Maloney"<sup><a href="http://flog.fugu.de">cite</a></sup>.</p>
ipauth/.htaccess
